---
default: &DEFAULT
  storage_account: ''
  storage_container: ''
  storage_key: ''
  subscription: ''
  subscription_keyfile: ''

wheezy:
  <<: *DEFAULT
  release: wheezy
  image_label: 'Debian 7 "Wheezy"'
  image_name: Debian-7-amd64-{version}
  image_meta:
    image_family: 'Debian 7'

jessie:
  <<: *DEFAULT
  release: jessie
  image_label: 'Debian 8 "Jessie"'
  image_name: Debian-8-amd64-{version}
  image_meta:
    image_family: 'Debian 8'

stretch:
  <<: *DEFAULT
  release: stretch
  image_label: 'Debian 9 "Stretch"'
  image_name: Debian-9_DAILY-amd64-{version}
  image_auto_upload: true
  image_meta:
    image_family: 'Debian 9'
