---
default: &DEFAULT
  storage_account: null
  storage_container: null
  subscription: null
  subscription_keyfile: null

default-daily: &DEFAULT-DAILY
  <<: *DEFAULT
  image_name: 'Debian-{release_number}-DAILY-amd64-{timestamp}'
  image_label: 'Debian {release_number} "{release_name}" DAILY'

wheezy:
  <<: *DEFAULT-DAILY
  release: wheezy
  release_name: Wheezy
  release_number: 7

jessie:
  <<: *DEFAULT-DAILY
  release: jessie
  release_name: Jessie
  release_number: 8

stretch:
  <<: *DEFAULT-DAILY
  release: stretch
  release_name: Stretch
  release_number: 9
